* {
    margin: 0;
    padding: 0;

}
body {
    background: linear-gradient(50deg, rgb(0, 0, 0) 0%, rgb(21, 30, 77) 100%);
}
#Header {

margin-left: 10em;
margin-right: 10em;
margin-top: -5em;
background-color:  rgb(21, 30, 77);
height: 15em;
border-radius: 2em;
display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 9em;
}

p{
    font-family: 'Roboto', sans-serif;
font-style: inherit;
margin-left: 5em;
margin-right: 5em;
}

p:hover {
    transform: scale(1.2);
    transition: ease 0.5s;
}

#flip {
    display: flex;
justify-content: center;
color: white;
margin: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

.block {
    width: 30em;
    max-width: 50em;
    height: 25em;
    border-radius: 2em;
    margin-top: 15em;
    margin-left: auto;
    margin-right: auto;
    background-color: ivory;
}





